*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html{
    scroll-behavior:smooth;
}

html,
body,
#root{
  width:100%;
  min-height:100%;
}

body{
  font-family:Inter,sans-serif;
  background:#f8f8f8;
  overflow-x:hidden;
  color:#222;
}

#root{
  width:100%;
}

a{
  text-decoration:none;
  color:inherit;
}

img{
  display:block;
  max-width:100%;
}

button,
input{
  font:inherit;
}
::selection{
    background:#ff4d6d;
    color:#fff;
}