.product-card {
    background: #fff;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: all 0.35s ease;
    display: flex;
    flex-direction: column;
}

.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.12);
}

.product-image {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    background: #f8f8f8;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}

.product-card:hover img {
    transform: scale(1.08);
}

.wishlist-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 42px;
    height: 42px;
    border: none;
    border-radius: 50%;
    background: white;
    color: #ff4d6d;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
}

.product-info {
    padding: 20px;
}

.product-info span {
    color: #777;
    font-size: 14px;
}

.product-info h3 {
    margin: 10px 0;
    font-size: 20px;
}

.product-info h4 {
    margin-bottom: 18px;
    font-size: 22px;
}

.product-info button {
    width: 100%;
    padding: 14px;
    background: #111;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.product-info button:hover {
    background: #ff4d6d;
}